.container{ border: 5px solid #000; }

.row{ border: 3px solid red; } 

.pink{ background: pink; } 

.green{ background: yellowgreen; }

.orange{ background: #ffa500; }

.blue{ background: #4aa6ee; }

.cyan{ background:#00ffff;}